<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyb.yanbangbang.mapper.CollectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dyb.yanbangbang.entity.Collect">
        <id column="collect_id" property="collectId" />
        <result column="user_id" property="userId" />
        <result column="object_id" property="objectId" />
        <result column="type" property="type" />
        <result column="collect_date" property="collectDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        collect_id, user_id, object_id, type, collect_date
    </sql>

</mapper>
