<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyb.yanbangbang.mapper.GroupPartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dyb.yanbangbang.entity.GroupPart">
        <id column="group_part_id" property="groupPartId" />
        <result column="group_id" property="groupId" />
        <result column="part_nike_name" property="partNikeName" />
        <result column="part_head_Img" property="partHeadImg" />
        <result column="part_id" property="partId" />
        <result column="order_code" property="orderCode" />
        <result column="part_time" property="partTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        group_part_id, group_id, part_nike_name, part_head_Img, part_id, order_code, part_time
    </sql>

</mapper>
