<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyb.yanbangbang.mapper.ResourceDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dyb.yanbangbang.entity.ResourceDetail">
        <id column="resource_detail_id" property="resourceDetailId" />
        <result column="resource_id" property="resourceId" />
        <result column="file_name" property="fileName" />
        <result column="key" property="key" />
        <result column="url" property="url" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        resource_detail_id, resource_id, file_name, key, url, type
    </sql>

</mapper>
