<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyb.yanbangbang.mapper.ShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dyb.yanbangbang.entity.Shop">
        <id column="shop_id" property="shopId" />
        <result column="host_id" property="hostId" />
        <result column="shop_name" property="shopName" />
        <result column="shop_introduce" property="shopIntroduce" />
        <result column="goods_introduce" property="goodsIntroduce" />
        <result column="shop_img" property="shopImg" />
        <result column="introduce_match_score" property="introduceMatchScore" />
        <result column="goods_value_score" property="goodsValueScore" />
        <result column="teacher_service_score" property="teacherServiceScore" />
        <result column="answer_speed_score" property="answerSpeedScore" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        shop_id, host_id, shop_name, shop_introduce, goods_introduce, shop_img, introduce_match_score, goods_value_score, teacher_service_score, answer_speed_score, create_time, update_time
    </sql>

</mapper>
